pyrogram
TgCrypto
pytgcalls==2.1.0
python-dotenv
requests
aiohttp
youtube_search_python
asyncio
yt-dlp
youtube_search
youtube-dl
search_engine_parser
wget
python-arq
future
youtube_dl
ffmpeg-python
aiofiles
ffmpeg
pillow
dnspython
bs4
psutil
gitpython
tswift
